/*Variables*/
/*OHMYFOOD STYLE*/
/*MENUS BACKGROUND COLORS*/
/*MENUS TEXTES COLORS*/
/*MENUS FONTS*/
/*Mixins*/
/*Mixins FLEXBOX*/
/*Mixin MENUS MAIN PAGE*/
/*Mixins HEADER-FOOTER*/
/*HEADER CSS*/
.header {
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header a {
    text-decoration: none;
    color: #fdcb46; }

/*FOOTER CSS*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 25px;
  position: sticky;
  bottom: 0;
  left: 0; }
  .footer a {
    text-decoration: none;
    color: #fdcb46; }

/*OHMYFOOD STYLE*/
.omf-style {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif; }

/*MAIN PAGE*/
body {
  margin: 0px;
  display: flex;
  flex-direction: column; }

/*MENUS DISPOSITION*/
.menus {
  display: grid;
  grid-template-areas: "a b";
  justify-content: center;
  grid-gap: 50px;
  margin: 50px; }
  .menus > div {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 6px 6px #e7e2e2; }
  .menus p {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Kalam', cursive; }
  .menus a {
    text-decoration: none;
    text-align: center; }

/*MENUS STYLE*/
.note {
  background-color: #fcdfdb;
  color: #3c1218; }
  .note h2 {
    font-family: "Courgette", cursive;
    font-size: 25px; }

.chic {
  background-color: #fff5fe;
  color: #c77412; }
  .chic h2 {
    font-family: "Croissant One", cursive;
    font-size: 22px;
    background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.delice {
  background-color: #f9f9f9;
  color: #0887fb; }
  .delice h2 {
    font-family: "Alex Brush", cursive;
    font-size: 35px;
    background: linear-gradient(to right, #0645e5 0%, #0889fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.palette {
  background-color: #fdfffd;
  color: #79c45c; }
  .palette h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    background: linear-gradient(to right, #42973c 0%, #bfff7e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/*PROCHAINEMENT*/
.soon {
  margin: 0 auto 40px;
  font-size: 30px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*MENTIONS LEGALES CSS*/
body {
  margin: 0; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px 20px 30px; }
  .container h2, .container h3 {
    color: #fdcb46;
    text-align: center; }
  .container a {
    text-decoration: none; }

/*MENUS TEMPLATE CSS*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 50px; }
  .menu section {
    width: 800px;
    margin: 20px; }
    .menu section > div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .menu section h3 {
      text-align: center; }

/*NOTE ENCHANTEE CSS*/
.menu-note {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Courgette", cursive; }
  .menu-note i {
    background: linear-gradient(to right, #f05461 0%, #f6916a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-note .titre-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 20px; }
  .menu-note .titre-bottom {
    display: flex;
    margin: 20px;
    align-items: baseline; }
    .menu-note .titre-bottom h3 {
      margin-left: 10px; }

/*CHIC FRANCAISE CSS*/
.menu-chic {
  background-color: #fff5fe; }
  .menu-chic .titre-chic {
    font-size: 40px;
    font-family: "Croissant One", cursive;
    background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-chic .entrees-chic-clr {
    color: #c77412; }
  .menu-chic .plats-chic-clr {
    color: #a56799; }
  .menu-chic .desserts-chic-clr {
    color: #6e4ccc; }
  .menu-chic .trait {
    width: 250px;
    height: 10px; }

/*MENU DELICE DES PAPILLES CSS*/
.menu-papilles {
  background-color: #f9f9f9;
  font-family: "Alex Brush", cursive;
  font-size: 25px; }
  .menu-papilles .titre-papilles {
    font-size: 60px;
    color: #0887fb;
    background: linear-gradient(to right, #0645e5 0%, #0889fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-papilles .trait {
    width: 250px;
    height: 20px; }

/*MENU PALETTE DU GOUT CSS*/
.menu-palette {
  background-color: #fdfffd;
  font-family: "Kaushan Script", cursive; }
  .menu-palette .titre-palette {
    font-size: 60px;
    background: linear-gradient(to right, #42973c 0%, #bfff7e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-palette .trait {
    width: 250px;
    height: 10px; }

/*# sourceMappingURL=style.css.map */
