/*ANIMATIONS*/

/*  ANIMATION ZOOM-MENUS  */
.zoom-menus {
    text-align: center;
}

.zoom-menus:hover {
    overflow: hidden;
    transform: scale(1.2);
    transition: transform 0.6s ease-in-out 0s;
    opacity: 0.8;
}

/*  ANIMATION TROIS POINTS  */
.dots {
    content: ".";
    animation: dots 1.2s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: #FFCA28;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 #FFCA28;
    }
}

/* ANIMATIONS SHAKE */
.shake:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* MIXIN TRANSITION SOULIGNEMENT TITRES MENUS */

@mixin underline ($color) {
    background: linear-gradient(to top, ($color) 5%, transparent 5.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size 800ms;

    &:hover {
        background-size: 100% 100%;
    }
}
