/*Variables*/

/*OHMYFOOD COLORS*/
$bandeau-txt: #fdcb46;
$bandeau-bgr: #579c87;

/*MENUS BACKGROUND COLORS*/
$note-bgr :#fcdfdb;
$chic-bgr: #fff5fe;
$delice-bgr: #f9f9f9;
$palette-bgr: #fdfffd;

/*MENUS TEXTES COLORS*/
$note-clr: #3c1218;
$chic-clr: #c77412;
$delice-clr: #0887fb;
$palette-clr: #79c45c;

/*MENUS FONTS*/
$note-font: 'Courgette', cursive;
$chic-font: 'Croissant One', cursive;
$delice-font: 'Alex Brush', cursive;
$palette-font: 'Kaushan Script', cursive;
