/*CHIC FRANCAISE CSS*/

.menu-chic {
    background-color: $chic-bgr;

    .titre-chic {
        font-size: 40px;
        font-family: $chic-font;
        @include linear-gradient(#d8852e, #905bfd);
    }

    .entrees-chic-clr {
        color: $chic-clr;
    }

    .plats-chic-clr {
        color: #a56799;
    }

    .desserts-chic-clr {
        color: #6e4ccc;
    }
}
