/*CHIC FRANCAISE CSS ET RESPONSIVE*/

.menu-chic {
    background-color: $chic-bgr;

    @media all and (max-width: 550px) {
        font-size: 10px;
    }

    .titre-chic {
        font-family: $chic-font;
        @include linear-gradient(#d8852e, #905bfd);

        @media all and (max-width: 550px) {
            font-size: 18px;
        }
    }

    .entrees-chic-clr {
        color: $chic-clr;

        .underline-chic-entrees {
            @include underline($chic-clr);
        }
    }

    .plats-chic-clr {
        color: $chic-plats;

        .underline-chic-plats {
            @include underline($chic-plats);
        }
    }

    .desserts-chic-clr {
        color: $chic-desserts;

        .underline-chic-desserts {
            @include underline($chic-desserts);
        }
    }
}
