/*CHIC FRANCAISE CSS*/

.menu-chic-bgr {
    background-color: $chic-bgr;
}

.titre-chic {
    font-family: $chic-font;
    background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.entrees-chic-clr {
     color: $chic-clr;
}

.plats-chic-clr {
    color: #a56799;
}

.desserts-chic-clr {
    color: #6e4ccc;
}