/*MENU DELICE DES PAPILLES CSS*/
.menu-papilles {
    background-color: $delice-bgr;
    font-family: $delice-font;
    font-size: 25px;

    .titre-papilles {
        font-size: 60px;
        color: $delice-clr;
        @include linear-gradient(#0645e5, #0889fb);
    }

    h3 {
        @include underline($delice-clr);
    }

}

/* RESPONSIVE MENU DELICE DES PAPILLES*/
@media all and (max-width: 700px) {
    .menu-papilles {
        font-size: 14px;

        .titre-papilles {
            font-size: 40px;
        }
    }
}
