/*MENU DELICE DES PAPILLES CSS ET RESPONSIVE*/

.menu-papilles {
    background-color: $delice-bgr;
    font-family: $delice-font;
    font-size: 35px;

    @media all and (max-width: 550px) {
        font-size: 18px;
    }

    .titre-papilles {
        font-size: 60px;
        color: $delice-clr;
        @include linear-gradient(#0645e5, #0889fb);

        @media all and (max-width: 550px) {
            font-size: 30px;
        }
    }

    .underline-papilles-entrees {
        @include underline($papilles-entrees);
    }

    .underline-papilles-plats {
        @include underline($papilles-plats);
    }

    .underline-papilles-desserts {
        @include underline($delice-clr);
    }

}
