/*HEADER CSS*/
.header {
    height: 100px;
    font-size: 30px;
    @include flex-centre;

    a {
        text-decoration: none;
        color: $bandeau-txt;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;
    @include sticky;

    a {
        text-decoration: none;
        color: $bandeau-txt;
    }
}

/*OHMYFOOD STYLE*/
.omf-style {
    @include omf-style;
}

/*RESPONSIVE HEADER-FOOTER*/
@media all and (max-width: 600px) {
    .header {
        height: 80px;
        font-size: 25px;
    }

    .footer {
        @include flex-column-center;
        height: 30px;

        a {
            font-size: 20px;
        }
    }
}
