/*MAIN PAGE*/
body {
    margin: 0px;
}

/*MENUS DISPOSITION*/
.menus {
    display: grid;
    grid-template-areas: "a b";
    justify-content: center;
    grid-gap: 50px;
    margin: 50px;

    > div {
        @include menus-structure;
    }

    p {
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Kalam', cursive;
    }

    a {
        text-decoration: none;
        text-align: center;
    }
}

/*MENUS STYLE*/

.note,
.note a {
    background-color: $note-bgr;
    color: $note-clr;

    i {
        @include linear-gradient(#f05160, #f6916a);
    }


    h2 {
        font-family: $note-font;
        font-size: 25px;
    }
}

.chic,
.chic a {
    background-color: $chic-bgr;
    color: $chic-clr;

    h2 {
        font-family: $chic-font;
        font-size: 22px;
        @include linear-gradient(#d8852e, #905bfd);
    }
}

.delice,
.delice a {
    background-color: $delice-bgr;
    color: $delice-clr;

    h2 {
        font-family: $delice-font;
        font-size: 35px;
        @include linear-gradient(#0229dd, #55acfb);
    }
}

.palette,
.palette a {
    background-color: $palette-bgr;
    color: $palette-clr;

    h2 {
        font-family: $palette-font;
        font-size: 30px;
        @include linear-gradient(#42973c, #bfff7e);
    }
}

/*PROCHAINEMENT*/
.soon {
    margin: 0 auto 40px;
    font-size: 30px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    @include flex-centre;
}
