/*MENTIONS LEGALES CSS*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px 20px 30px;
    
    h2,h3{
        color: $bandeau-txt;
        text-align: center;
    }
    
    a{
        text-decoration: none;
    }
}
