/*MENUS TEMPLATE CSS ET RESPONSIVE*/

.menu {
    @include flex-column-center;
    font-size: 25px;
    margin: 5% 10% 5% 10%;

    section {
        width: 90%;
        margin-bottom: 20px;

        @media all and (max-width: 900px) {
            padding: 10px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > p {
                max-width: 80%;
            }

            .prix {
                font-weight: bold;
            }
        }

        h3 {
            text-align: center;

            @media all and (max-width: 900px) {
                margin: auto;
            }
        }

        .trait {
            width: 30%;
            height: 15px;

            @media all and (max-width: 900px) {
                width: 25%;
                height: 10px;
            }

            @media all and (max-width: 700px) {
                display: none;
            }
        }
    }
}
