/*NOTE ENCHANTEE CSS*/

.menu-note {
    background-color: $note-bgr;
    color: $note-clr;
    font-family: $note-font;

    i {
        @include linear-gradient(#f05160, #f6916a);
    }
    
    h3{
        @include underline($note-clr);
    }

     .titre-top {
        @include flex-column-center;
        margin-top: 50px;
        font-size: 20px;
    }
    
    .titre-bottom {
        display: flex;
        margin: 20px;
        align-items: baseline;

        h3 {
            margin-left: 10px;
        }
    }
}
